.paginationWrapp{
	text-align: center;
	margin-bottom: 5px;
}
	.pagination{
		display: inline;
	}
		.paginBTN{
			display: inline-block;
			width: 20px;
			height: 20px;
			cursor: pointer;
			border: 1px solid #3d3d3d;
			border-radius: 50%;
			text-align: center;
			line-height: 20px;
			margin-right: 5px;
		}
		.activeBtn{
			font-weight: bold;
		}
		.paginBTN:hover{
			border: 1px solid green;
		}